/*********** sub & sup ****************/
sub {
    top: 0.7ex;
}
sup {
    bottom: 1.2ex;
}
sub, sup {
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
